*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: white;
    color: black;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    font-family: 'Work Sans', 'Arial', sans-serif;
    font-weight: 300;
}

.row{
    max-width: 1140px;
    margin:0 auto;
}

header{
    background-image:linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.7)),url(img_css/header-img.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1{
    font-size: 500%;
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
}

h2{
    font-size: 200%;
    color: white;
    font-weight: 400;
}

.header-box-text{
    margin-bottom: 100px;
}
/* buttons */
.btn-header:link, .btn-header:visited{
    text-decoration: none;
    padding:10px 30px;
    border-radius: 200px;
}

.btn-full:link, .btn-full:visited{
    background-color: #ed07b7;
    color: white;
}

.btn-full:hover, .btn-full:active{
    background-color: #8a5c7f;
}

.btn-read-more:link, .btn-read-more:visited{
    border: 2px solid #ed07b7;
    color: black;
}

.btn-read-more:hover, .btn-read-more:active{
    background-color: #ed07b7;
    color: white;

}

.btn-read-more{

    margin-left: 25px;
  
}
.main-nav{
    list-style: none;
    float: right;
    margin-top: 25px;
}

.main-nav li{
    display: inline-block;
    margin-right: 40px;
    text-transform: uppercase;
}

.main-nav li a:link, .main-nav li a:visited{
    text-decoration: none;
    color: white;
    transition:border-bottom 0.2s;
}
.main-nav li a:hover, .main-nav li a :active{
    border-bottom: 2px solid #ed07b7 ;
}

.Logo{
    height: 120px;
    width: auto;
    float: left;
}

.laptop{
    width: 80%;
}

.about-heading{
    color: black;
    font-size: 250%;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-para{
    color: black;
    margin-bottom: 50px;
}

.about-box{
    margin-top: 120px;
}

.about-box:first-child{
    text-align: left;
    padding: 10 5%;
}

.about-box:last-child{
    text-align: right;
}

